THIS IS COMMENT HTML
p
    strong 
    | User:
    = comment.user_id

    p
        strong 
            Post
        = comment.post_id 

    p
        strong
            Comment content:
        = comment.comment_content
  
