h1
    Editing comment

=turbo_frame_tag dom_id(@comment) do 
    = render "form", comment: @comment 

br

div
    = link_to "Show this comment", @comment 
    |
    = link_to "Back to comments", comments_path 
