javascript:
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

- if current_user
    | Welcome 
    = current_user.email 

h2
    | List of Account
hr
| Current Account Exist:
table id = "users"
    br
        tr
            th
                | Username
        tr  
            td
                - @users.each do |user|
                    =user.user_name     
                    br


        

javascript:
    $(document).ready( function () { 
        $('#users').DataTable();} )



    