<p style="color: green"><%= notice %></p>
<h1>Chart</h1>
<br>
<div>
      <h2>Post Frequency</h2>
            <%= line_chart ActiveChart.group(:user_id).group_by_month(:post_activetime).count %>
<br>
      <h2>Comment Frequency</h2>
            <%= line_chart ActiveChart.group(:user_id).group_by_month(:comment_activetime).count %>

<br>


